<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder_tq.springcloud.dao.DeptDao">

    <resultMap id="DeptMap" type="Dept">
        <id column="deptno" property="deptno"/>
        <result column="deptname" property="deptname"/>
        <result column="db_source" property="dbSource"/>
    </resultMap>
    
    <insert id="addDept" parameterType="Dept">
        INSERT INTO dept(deptname,db_source)
        VALUES (#{deptname},DATABASE())
    </insert>
    <select id="queryById" resultMap="DeptMap" parameterType="Long">
        SELECT * FROM dept WHERE deptno=#{deptno};
    </select>
    <select id="queryAll" resultMap="DeptMap">
        SELECT * FROM dept;
    </select>
</mapper>